/* css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", 'Times New Roman', sans-serif;
}

body {
    background-color: brown;
}

.container {
    background-color: wheat;
    box-shadow: 15px 0px 5px rgba(0,0,0,0.5), -15px 0px 5px rgba(0,0,0,0.5);
    max-width: 900px;
    margin: 0 auto;
}

.container-homepage {
    background-color: wheat;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.5), -15px -15px 10px rgba(0,0,0,0.5);
    max-width: 500px;
    margin: 500px auto;
    padding-bottom: 30px;
}

.list-homepage a {
    text-decoration: underline;
    color: brown;
}

.list-homepage {
    list-style: none;
    margin: 10px 0px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}

.header-description-homepage {
    text-align: center;
    color: wheat;
    padding: 5px;
    border-top: 20px solid wheat;
    border-bottom: 8px;
    background-color: brown;
}

.Backbutton {
    background-color: wheat;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.Backbutton a {
    text-decoration: underline  ;
    color: brown;
}

.current-page {
    color: brown;
}

.title-header {
    text-align: center;
    font-size: 40px;
    color: wheat;
    background-color: brown;
    padding: 10px 20px;
}

.recipe-img {
    width: auto;
    display: block;
    margin: 20px auto 20px;
    border-radius: 12px;
    box-shadow: 8px 8px 0px rgba(0,0,0,0.1);
}

.imgcontainer {
    border-top: 10px solid wheat;
    background-color: wheat;
    border-bottom: 10px solid wheat;
}

.header-description {
    text-align: center;
    color: wheat;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: brown;
}

.paragraph-desc {
    text-align: center;
    background-color: wheat;
    padding: 10px 40px 10px 40px;
}

.header-ingredients {
    text-align: center;
    color: wheat;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: brown;
}

.list-ingredients {
    list-style: none;
    text-align: center;
    margin: 10px 0px;
    border-radius: 20px;
}

.header-instructions {
    text-align: center;
    color: wheat;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: brown;
}

.list-instructions {
    padding-left: 20px;
    text-align: left;
    padding: 10px 40px 10px 40px;
}